@model IEnumerable<Zoo.Core.Domain.Habitat>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Habitats</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Habitats</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a asp-area="admin" asp-action="Create" asp-controller="Habitats" class="btn btn-primary">
                            Add new <i class="fas fa-plus-circle"></i>
                        </a>
                    </div>
                    <div class="card-body">
                        <table id="habitats" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var habitat in Model)
                                {
                                    <tr id="tr@(habitat.Id)">
                                        <td>@habitat.Id</td>
                                        <td>@habitat.Name</td>
                                        <td>@habitat.Description</td>
                                        <td>
                                            <a asp-area="admin" asp-action="Edit" asp-controller="Habitats" asp-route-id="@habitat.Id" class="btn btn-sm btn-primary">
                                                Edit <i class="fas fa-edit"></i>
                                            </a>
                                            <button type="button" class="delete btn btn-sm btn-danger" id="@habitat.Id">
                                                Delete <i class="fas fa-remove-format"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Scripts {
    <environment names="Development">
        <!-- DataTables -->
        <script src="~/admin/plugins/datatables/jquery.dataTables.js"></script>
        <script src="~/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
        <!-- sweetalert2 -->
        <script src="~/vendor/sweetalert2/dist/sweetalert2.all.js"></script>
    </environment>
    <environment names="Staging,Production">
        <!-- DataTables -->
        <script src="~/admin/plugins/datatables/jquery.dataTables.js"></script>
        <script src="~/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
        <!-- sweetalert2 -->
        <script src="~/vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>
    </environment>

    <!-- page script -->
    <script>
        $(document).ready(function () {
            $('#example1').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true
            });

            $('button.delete').click(function () {
                var id = $(this).attr("id");
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("Delete", "Habitats")',
                            data: { id: id },
                            success: function () {
                                $(`#tr${id}`).remove();
                                Swal.fire(
                                    'Deleted!',
                                    'Your file has been deleted.',
                                    'success');
                            }
                        });
                    }
                });
            });
        });
    </script>
}
