@model IEnumerable<Zoo.Core.Domain.Animal>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Animals</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Animals</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a asp-area="admin" asp-action="Create" asp-controller="Animals" class="btn btn-primary">
                            Add new <i class="fas fa-plus-circle"></i>
                        </a>
                    </div>
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Habitat</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var animal in Model)
                                {
                                    <tr>
                                        <td>@animal.Id</td>
                                        <td>@animal.Name</td>
                                        <td>@animal.Description</td>
                                        <td>@animal.HabitatId</td>
                                        <td>
                                            <a asp-area="admin" asp-action="Edit" asp-controller="Animals" asp-route-id="@animal.Id" class="btn btn-sm btn-primary">
                                                Edit <i class="fas fa-edit"></i>
                                            </a>
                                            <a asp-area="admin" asp-action="Delete" asp-controller="Animals" asp-route-id="@animal.Id" class="btn btn-sm btn-danger">
                                                Delete <i class="fas fa-remove-format"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Habitat</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Scripts {
    <!-- DataTables -->
    <script src="~/admin/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>

    <!-- page script -->
    <script>
        $(function () {
            $('#example1').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true
            });
        });
    </script>
}